// Pages
@import "./home.scss";
// Components
@import "./components/nav.scss";
@import "./components/posts.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #dff3e4;
    background: #171738;
  }
}

.main {
  &-layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 25px;
  }
  &-padding {
    padding: 25px 0;
  }
}
.container {
  display: grid;
  place-items: center;
}
