{% load socialaccount %}
<html>
<body>
<h1>Echo </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}

Topics
<br>
<textarea rows="5" cols="40" id="topics"></textarea>
<br>

<button value="" onclick="generatePost()">Generate Post</button>

<br>
<br>
<br>

Generated Post
<br>
<textarea rows="5" cols="40" id="post_text"></textarea>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    function generatePost(id, vote) {
        let url = "{% url 'generate-post' %}";
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                topics: $("textarea#topics").val()
            },
            success: function(response) {
                prompt = response['prompt'];
                console.log('success', prompt);
                $("textarea#post_text").val(prompt);
            },
            error: function(response) {
                console.log('error', response);
            },
        });
    }
</script>
</html>